h1 {
	background-color: white;
	font-family: georgia;
	font-size: 24px;
}

html, body {
	background-color: #d1d6d6;
	height:100%;
	margin:0;

}

h2 {
	font-family: georgia;
	color: #8299bf;
	font-size: 24px
}

p {
	font-family: helvetica;
	font-size: 15px;
	line-height: 20px;
	margin-top: 4px;
}

hr {
	border: 1px solid #ccc;
}

.aboutMe {
	float: left;
	padding: 40px;
	margin: 20px;
	max-width: 600px;
	background-color: white;
	font-family: georgia;
}

.container {
	min-height: 100%;
	margin-bottom: -50px;
}

.footer,
.push {
	clear: both;
	height: 50px;
	width: auto;
	font-family: helvetica;
	font-size: 12px;
	background-color: #8299bf;
	text-align: center;

}

.foot {
	border: 2px solid #ccc;	
}

.textarea {
    width: 600px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.form {
	width: 600px;
    height: 30px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.butterfly {
	max-width: 165px;
	max-height: 165px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 20px;
	float: left;
}


.text {
	padding-top: 10px;
	text-align: justify;
	font-family: helvetica;
}

.title {
	background-color: #8299bf;
	text-align: center;
	padding: 20px;
	max-width: 250px;
	min-height: 40px;
	color: white;
	margin: 20px;
	margin-top: 0;
	font-family: georgia;
	font-size: 32px;
}

ul{
	list-style: none;

}

.navBar {
	background-color: white;
	max-height: 80px;
	background-size: cover;
	position: relative;
}

.navStyle {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

.navLinks{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 45%;
}

a{
	text-decoration: none;
	font-family: helvetica;
}

.contactMe {
	float: left;
	position: relative;
	background-color: white;
	width: 210px;
	height: 125px;
	padding: 40px;
	margin: 20px;
}

.iconStyle {
	width: 50px;
	height: 50px;
}
.iconStyle1 {
	list-style-type: none;
	display: inline-block;
	float: left;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}

.iconStyle2 {
	list-style-type: none;
	display: inline-block;
	float: left;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}

.iconStyle3 {

	float: left;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}

.iconLinks {


}